.mr-n {
  margin-right: 1em !important;
}

.mb-n {
  margin-bottom: 1em !important;
}

.mr-l {
  margin-right: 2.887em !important;
}

.mb-l {
  margin-bottom: 2.887em !important;
}

.mr-x-l {
  margin-right: 4.11em !important;
}

.mb-x-l {
  margin-bottom: 4.11em !important;
}

.mr-xx-l {
  margin-right: 5.202em !important;
}

.mb-xx-l {
  margin-bottom: 5.202em !important;
}

.mr-xxx-l {
  margin-right: 5.852em !important;
}

.mb-xxx-l {
  margin-bottom: 5.852em !important;
}
