* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 3px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-img {
  float: left;
  width: 33%;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

/* PRODUCT INFORMATION */
.product-info {
  float: left;
  width: 33%;
}

.product-info-container {
  width: 100%;
  height: 100%;
}

.price-shipping {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.price::before {
  display: inline-block;
  width: 3%;
  content: '';
}

.price {
  font-size: 24px;
  display: table-cell;
  vertical-align: middle; 
  width: 47%;
}

.shipping {
  display: table-cell;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle; 
  text-align: right;
  width: 47%;
}

.shipping::after {
  display: inline-block;
  width: 3%;
  content: '';
}

.product-description-link-container {
  display: table;
  width: 100%;
}

.product-description-link-container + .padding {
  display: table-cell;
  width: 3%;
}

.product-description-link {
  display: table-cell;
  width: 97%;
}

.product-description {
  margin-bottom: 15px;
}

.more-info {
  margin-bottom: 10px;
}

.more-info:link, .more-info:visited {
  color: black;
}

.more-info:hover, .more-info:active {
  text-decoration: none;
}

.color {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: #000;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
  float: left;
  width: 33%;
  background-color: #885214;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}