* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex>div {
  flex: 1;
}

.flex>div>img {
  max-width: 100%;
}

/* PRODUCT */
.product {
  border: 3px solid black;
  width: 85%;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  margin: 0 0;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8vw;
  min-height: 4vw;
  position: absolute;
  top: -4%;
  left: -4%;
}

.sale>p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5vh;
  letter-spacing: 2px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.colors {
  display: flex;
  gap: 20px;
}

.color {
  width: 20px;
  height: 20px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}